:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  overflow-x: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon{
    @apply relative flex items-center justify-center
     w-12 h-12 mt-2 mb-2 mx-auto shadow-lg bg-blue-200 text-black
     hover:bg-blue-500 hover:text-white
     rounded-3xl hover:rounded-xl
     transition-all duration-300 ease-in-out
     cursor-pointer;
  }

  .sidebar-tooltip{
    @apply absolute w-auto p-2 m-2 min-w-max left-14
    rounded-md shadow-md
    text-black bg-blue-200
    text-xs font-bold
    transition-all duration-100 scale-0 origin-left;
  }
}
